body {
  background-image: url('../Image/wallpapersden.com_-fifa-world-cup-hd-trophy_1920x1280.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#submitals{
  margin: 10px;
}

.predictionRow{
  display: flex;
  width: 200px;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.prediction{
  display: flex;
  width: 100px;
 }
 

.name {
  display: inline-block;
  border-color:black black;
  height: 30px;
  width: 80px;
}