body {
background-image: url(https://images.app.goo.gl/dMLKghSGSWSUDZ1UA);

}

#submitals{
  margin: 10px;
}

.predictionRow{
  display: grid;
  grid-template-columns: 50px 50px;
}

.prediction{

}

.name {
  display: inline-block;
  border-color:black black;
  height: 30px;
  width: 80px;
}